body {
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding:0;

}
/*----------------------------------------------------------------------------------------Index*/
button-container {

}
benefits-container {

}
about-container{

}
img-container {

}
/*----------------------------------------------------------------------------------------Membership*/

/*----------------------------------------------------------------------------------------Classes*/

/*----------------------------------------------------------------------------------------FAQ*/

/*----------------------------------------------------------------------------------------Contact*/